* {


    box-sizing: border-box;
}

body {
    padding: 20px 80px;
    background-color: #F5F7FC;
}


.bule {
    color: blue;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: blue;
    border: none;
    color: white;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    background-color: green;
}

.banner-container {
    margin-top: 158px;
    text-align: center;
    margin-bottom: 152px;
}

.banner-heading {
    font-size: 50px;
}

.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}

.stats-container {
    margin-top: 150px;
    border-radius: 15px;
    background-color: #E8E9FF;
    padding: 10px 30px;

}

.gray {
    color: #57565f;
}

.stats-value {
    display: flex;
    justify-content: space-between;

}

.review-container {
    margin-top: 100px;
}

.review-container-start {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.review-card-container {
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;

}

.review-card-image { 
    display: flex;
    align-items: center;
    gap: 15px;
}

.rounded-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.styled-input {
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin-bottom: 10px;
}

.contract-section-container {
    display: flex;
    align-items: center;
    gap: 400px;
    margin-top: 150px;
}

.flex-grow {
    flex: 1;
}

.footer-container {
    margin-top: 150px;
}

.link-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

